# OS FILES
.DS_Store
.DS_Store?
Thumbs.db

# APP
db/PGSQL
db/REDIS
db/SPHINX

tmp
log
shared

config/ENV/**/*.yml
config/settings/*.yml

# IGNORE BUNDLER CONFIG.
.bundle

# IGNORE THE DEFAULT SQLITE DATABASE.
db/*.sqlite3
db/*.sqlite3-journal

# IGNORE ALL LOG FILES AND TEMP FILES.
public/uploads
public/assets

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

# CONFIG FILES
.rvmrc
.ruby-gemset
.ruby-version
